<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"https://github.com/TTTN-NHOM8/Studio_Wedding_Client/pull/11/conflict?name=app%252Fsrc%252Fmain%252FAndroidManifest.xml&ancestor_oid=e80ef97a6392772f80bc438a35f94bf53e22ef17&base_oid=7025346dda17cb86f9035b5831439379583f7e8c&head_oid=f3aff69621e0b16f47920d72ba223b48c47cc718
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudioWedding"
        tools:targetApi="31">

        <activity
            android:name=".view.activity.employee.SearchEmployeeActivity"
            android:exported="false" />

        <activity
            android:name=".view.activity.customer.UpdateCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.customer.FindPhoneActivity"
            android:exported="false" />


        <activity
            android:name=".view.activity.customer.AddCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.customer.CustomerActivity"
            android:exported="false" />

        <activity
            android:name=".view.activity.employee.UpdateEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.employee.AddEmployeeActivity"
            android:exported="false" />


        <activity
            android:name=".view.activity.detail_contract.UpdateContractServiceActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.detail_contract.UpdateContractProductActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.detail_contract.ServiceSelectActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.detail_contract.ProductSelectActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.detail_contract.AddContractDetailActivity"
            android:exported="false" />


        <activity
            android:name=".view.activity.contract.FilterContractActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:layout_width="match_parent"
            android:layout_height="match_parent"/>
        <activity
            android:name=".view.activity.contract.PickClientActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.contract.UpdateContractActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.contract.AddContractActivity"
            android:exported="false" />

        <activity
            android:name=".view.activity.task.UpdateTaskActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.task.SeeTaskActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.StudioWedding">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>